:root {
    --primary-color: #fa9623;
    --primary-color-dark: #e67a00;
    --primary-color-light: #ffe2b7e4;
    --secondary-color: #007bff;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --body-bg-color: #f4f4f4; 
}

/* Basic styles */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

/* Vertical navigation bar */
.logo {
    margin: 4px;
    margin-top: 10px;
    text-align: center;
}

nav {
    position: relative;
    background-color: #fff;
    color: #333;
    width: 80px;
    height: 100vh; /* Set the height to fill the viewport */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Allow the list to grow to fill the available space */
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 4px;
    display: block;
}

nav ul li a:hover {
    background-color: #eeeeee;
}

.nav-links-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-links-bottom li {
    flex-grow: 1;
    align-content: flex-end;
}

/* Page Layout */
.page-layout {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 104px);
    height: calc(100vh - 80px);
    margin-left: 24px; 
    padding-top: 32px;
}

