:root {
    --primary-color: #fa9623;
    --primary-color-dark: #b16e23;
    --secondary-color: #007bff;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --body-bg-color: #f4f4f4; 
}

/* Basic styles for the navigation and main content areas */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh; /* Set the height to fill the viewport */
}

/* Vertical navigation bar */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
    height: 100%; /* Set the height to fill the viewport */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Allow the list to grow to fill the available space */
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
    color: var(--primary-color)
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    background-color: #fff;
}

/* Additional styles for the main content area */

#main-content {
    padding: 20px;
}

h1 {
    margin-top: 0;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}


th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

th:first-of-type {
    border-top-left-radius: 6px;
}

th:last-of-type {
    border-top-right-radius: 6px;
}

tr:hover {
    background-color: #e0e0e0;
}

/* Status styles */
.status.online {
    padding: 4px 8px;
    border: 1px solid rgb(190, 218, 190);
    border-radius: 15px;
    color: green;
    background-color: #e2f1e2;
}

.status.offline {
    padding: 4px 8px;
    border: 1px solid rgb(218, 190, 190);
    border-radius: 15px;
    color: red;
    background-color: #ffedea;
}