<div>
    <div class="page-layout">
        <!-- Group List-->
        <div class="group-list" hx-get="/htmx/get-groups" hx-trigger="load" hx-target=".group-items">
            <div class="group-list-header">
                <div class="search-group">
                    <input type="text" placeholder="Search Groups" hx-post="/search-groups" hx-trigger="keyup changed delay:500ms" hx-target=".group-items">
                </div>
                <a href="#">View All</a>
                <a href="#">Edit Groups</a>
            </div>
            <div class="group-items">
                <!-- Group items will be inserted here using HTMX -->
            </div>
        </div>

        <!-- Main Content Area-->
         <div class="main-content">
            <h2>Device List</h2>
            <div class="top-buttons">
                <button>Remote</button>
                <button>Add To Group</button>
                <button>Remove From Group</button>
                <button>Run Command</button>
                <button>Run Script</button>
                <button class="add-agent" hx-get="/htmx/win-agent">+ Add Agent</button>
            </div>
            <div class="table-container" hx-get="/htmx/get-devices" hx-trigger="load" hx-target="tbody">
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select all"></th>
                            <th>Device Name</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>IP Address</th>
                            <th>Domain</th>
                            <th>Operating System</th>
                            <th>Last Connect</th>
                            <th>Last User</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <!-- Body will be populated via API call -->
                    </tbody>
                </table>
            </div>
        </div>
</div>